#root {
  margin: 0 auto;
  text-align: center;
}

/* .container {
  background-color: brown;
} */

.chart-container {
  width: 80vw;
  height: 30vh;
}

/* .chart { */
/* background-color: aqua; */
/* margin: auto; */
/* } */
